<ul class="sectionTop-A1 sectionFont-white" id="topMenu">
    <li class="li-1"><a href="#" class="btn icons unfollow">取消关注</a></li>
    <li class="li-1"><a href="#" class="btn icons follow">关注</a></li>
    <li class="li-1">
        <a href="#" class="btn icons login">登录</a>
        <div class="sectionTop-A1-sub none">
            <ul>
                <li><a href="#">喜鹊筑家旗舰店</a></li>
                <li><a href="#">品牌馆1</a></li>
                <li><a href="#">品牌馆1</a></li>
                <li><a href="#">品牌馆1</a></li>
                <li><a href="#">品牌馆1</a></li>
            </ul>
            <span class="sectionTop-A1-arrow"></span>
        </div>
    </li>
    <li class="li-1"><a href="#" class="btn icons home"><span>GEZLIFE</span>首页</a></li>
</ul>