<div class="sectionHeader-A1">
    <!--div class="notice"></div-->
    <div class="header">
        <div class="headerWrap clearfix">
            <div class="logoCon">
                <div class="logo"></div>
            </div>
            <div class="nav">
                <ul class="clearfix">
                    <li><a href="#">室内设计方案</a></li>
                    <li><a href="#">我家要装修</a></li>
                    <li><a href="#">商城</a></li>
                    <li><a href="#">商家<span class="new">新品</span></a></li>
                    <li><a href="#">社区</a></li>
                    <li class="register"><a href="#"><i></i><b>注册</b></a></li>
                </ul>
            </div>
            <div class="login">
                <div class="icon1"><div class="icon1Wrap"><a href="#"></a></div></div>
                <div class="icon2"><i></i><a href="#">3件商品</a></div>
                <div class="enter"><a href="#"><b>登录</b></a></div>
                <div class="icon3"><i></i><a href="">自由而..</a></div>
                <div class="icon4">
                    <a href="#" class="setIcon"></a>
                    <div class="set">
                        <ul>
                            <li><a href="#">个人账号设置</a></li>
                            <li><a href="#">邀请好友</a></li>
                            <li><a href="#">展示给您的</a></li>
                            <li class="select"><a href="#">Affiliate Dashboard</a></li>
                            <li><a href="#">退出</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search"> <input type="text" placeholder="搜索" size="22"/><i></i></div>
            </div>
        </div>
    </div>
</div>