<div class="p40 mb65">
    <div class="sectionWrap-houseD">
        <div class="w-920">
            <div class="sectionBox sectionTitle-A3 sectionTitle-A3-3 mb50">
                <h2>郑和国际广场</h2>
            </div>
            <div class="clear mb30">
                <div class="L w-360">
                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_5.jpg" width="360" height="245" alt=""/>
                </div>
                <div class="sectionBox-A4 sectionText-A3 sectionCms-A1 sectionCms-A2 clear">

                    <p class="">参 考 价  ：10000 元/平米</p>
                    <p class="">楼盘地址：庐阳区北一环（濉溪路）与亳州路交口东北角</p>
                    <p class="">物业类型：住宅、写字楼、商业</p>
                    <p class="">开 发 商  ：祥源房地产集团有限公司</p>
                    <div class=" size1of1 mb20">
                        <p class="L">项目介绍：</p>
                        <p class="ml70">中海万锦熙岸位于珠江镇团结路与珠泉西路交汇处，未来的浦口新城规划CLD区。总建筑面积约40万平米。规
                            划26栋住宅，约2800户。中海万锦熙岸物业形态涵盖11层小高层、18层中高层及26层高层。中海万锦熙岸于
                            2011年6月24日被海润房地产开发有限公司（中海地产）竞得，成交价格135000万元，楼面地价4010元/平方米。</p>
                    </div>

                    <div class="unline">
                        <a href="###" class="mr15 ">进入郑和国际广场</a>
                        <a href="###">选择其他楼盘</a>
                    </div>

                </div>
            </div>

            <div class="sectionTitle-A7 js_sectionTitleA7 mb50 clear">
                <a class="i i-l ipre" href="###"></a>
                <div class="ul-wrap auto js_ulMenuWrap">
                    <ul class="sectionFloat clear js_ulMenu">
                        <li class="cur"><span>130㎡A户型</span></li>
                        <li class=""><span>120.4㎡B户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                        <li class=""><span>98㎡C户型</span></li>
                    </ul>
                </div>
                <a class="i i-r inext" href="###"></a>
            </div>
            <div class="sectionBlock-A">
                <div class="sectionAutoTwoLayer-fl p-rel clear sectionBox-A7 mb50">
                    <div class="secondary L w-500">
                        <div class="mb20">
                            <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_19.jpg" width="500" height="500" alt=""/>
                        </div>
                        <p class="desc">威尼斯水城12街区  120.4㎡B户型  三室两厅两卫1</p>
                    </div>
                    <div class="primary">
                        <div class="sectionBox-A8 js_sectionThumbnailA2">
                            <ul>
                                <li class="mb20">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb20">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sectionBox sectionTitle-A3 sectionTitle-A3-4 mb10">
                    <h2>你可能会喜欢的其他风格</h2>
                    <div class="more">
                        <a class="sectionButton-A3" href="###">浏览更多风格</a>
                    </div>
                </div>

                <div class="sectionFloat sectionImgList-A1">
                    <ul class="clear">
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="sectionBlock-A none">
                <div class="sectionAutoTwoLayer-fl p-rel clear sectionBox-A7 mb50">
                    <div class="secondary L w-500">
                        <div class="mb20">
                            <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_19.jpg" width="500" height="500" alt=""/>
                        </div>
                        <p class="desc">威尼斯水城12街区  120.4㎡B户型  三室两厅两卫2</p>
                    </div>
                    <div class="primary">
                        <div class="sectionBox-A8 js_sectionThumbnailA2">
                            <ul>
                                <li class="mb20">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb20">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_20.jpg" width="391" height="170" alt=""/>
                                    <div class="sectionThumbnail-A2 none">
                                        <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_22.jpg" width="100%" height="100%" alt=""/></a>
                                        <div class="sectionMask-A4">
                                            <div class="wrap">
                                                <div class="bg"></div>
                                                <div class="desc clear">
                                                    混搭美宅  多彩的生活味道
                                                    <a class="sectionButton-A3 R mt15" href="###">立即体验</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sectionBox sectionTitle-A3 sectionTitle-A3-4 mb10">
                    <h2>你可能会喜欢的其他风格</h2>
                    <div class="more">
                        <a class="sectionButton-A3" href="###">浏览更多风格</a>
                    </div>
                </div>

                <div class="sectionFloat sectionImgList-A1">
                    <ul class="clear">
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>
                        <li>
                            <div class="mr10 mb20">
                                <a href="###"><img data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/pic_21.jpg" width="296" height="222" alt=""/></a>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>









</div>