.sectionContainer-A1{height:100%}
.rightBox{margin-left:250px;min-height: 100%;min-width:550px;}
.rightBox a{text-decoration: none;outline: none;}
.rightBox .nav{height:48px;  background: url(../images/imgs_LHH/title.png) repeat-x 0 0;color: #666;}
.rightBox .nav ul{margin-left:40px}
.rightBox .nav ul li{float:left;position: relative;margin:0 10px;}
.rightBox .nav ul li .searchIpt{float:left;width:160px;height: 26px;padding-left:5px;margin-top:10px;border:1px solid #ccc;border-right: 0;color: #A9A9A9;}
.rightBox .nav ul li .searchBtn{float:left;width:20px;height: 26px;margin-top:10px;border:1px solid #ccc;border-left: 0;background:url(../images/search.png) center center no-repeat;}
/*导航*/
.navType {height:26px;border:1px solid #ccc;padding-left:10px;margin-top:10px;cursor: pointer;}
.navType span{float:left;line-height:23px;padding:0 20px 0 0}
.navType:hover{}
.navType .arr{float:left;width:8px;margin:8px 8px 0 0;height:7px;background: url(../images/arr.png) 0 2px no-repeat;}

/*导航状态*/
.had{border-bottom-color:#fff;position: relative;z-index: 2;background: #fff;}
.had .arr{background: url(../images/arr.png) 0 -7px no-repeat;}
/*导航二级菜单*/
.pullDown{display:none;position:absolute;z-index:1;top:35px;left:0px;width: 150px;padding:10px;background:#fff;border: 1px solid #ccc;}
.pullDown a{display: block;height: 35px;border-bottom:1px dashed #dddddd;line-height:35px;color:#a5a5c2;}
.pullDown a:hover{color:#3d3d3d}

/*mapbox*/
.mapBox{width:100%;}
