@charset "utf-8";
/*模块通用样式*/
/*============================================================================================================================*/
/*公用*/
.bs-sectionBox{font-family: 'Microsoft YaHei';}
.bs-sectionBox .p40{padding: 40px;padding-top: 0;}

.bs-sectionTitle-A3{height: 35px;line-height: 35px;background: #fafafa;font-size: 12px;}
.bs-sectionTitle-A3 h2{color: #222;font-weight: normal;font-size: 12px;line-height: inherit;}
.bs-sectionTitle-A3 .p10{padding: 0 10px;border: 1px solid #dfdfdf;}
.bs-sectionTitle-A3 .more{right: 35px;top: 0;color: #777;}

.bs-sectionTitle-A3-3{height: 175px;line-height: 175px;background: none;border-bottom: 1px solid #e6e6e6;}
.bs-sectionTitle-A3-3 h2{padding-left: 0;font-size: 50px;font-weight: normal;font-family: 'Microsoft YaHei';}

/*cms 规定的格式*/
.bs-sectionCms-A1,
.bs-sectionCms-A1 p{font-family: 'Microsoft YaHei';font-size: 14px;}

.bs-sectionImage-A1 img{width: 380px;}

.bs-sectionText-A3{color: #777;}

.bs-sectionBox-A5{margin-left: 400px;}

.w-380{width: 380px;}
.mb50{margin-bottom: 50px;}
.mb45{margin-bottom: 45px;}